@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

body {
  background-image: url("space.png");
  background-size: cover;
}

.navbarContainer {
  width: 100%;
  background-color: #148b9d;
  box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.75);
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0px auto;
  width: 43%;
  margin: 0 auto 3% auto;
}

.button {
  display: flex;
  align-content: center;
  height: 30px;
  padding: 10% 50%;
  border-radius: 50%;
  margin: 0px 4
}

.profileButton {
  display: block;
  align-content: center;
  margin: 2% auto 2% auto;
  text-align: center;
}

.button-container {
 /* width: 120%;
 border-radius: 50%;
 margin-top: 10px; */
}

.galleryBox {
  width: 22.5%;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  padding: 2.3% 0px 8% 0px;
  box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.35)
}

.swipeGalleryContainer {
  position: relative;
  text-align: center;
  color: white;
}

.swipeGalleryCurrentImage {
  position: block;
  text-align: center;
  width: 70%;
  height: 70%;
  border-radius: 20px;
  box-shadow: inset 10px 5px 5px black;
  border: 5px solid #f1c500;
}

.imgProfile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid white;
  margin: 0.25% auto 0.25% auto;
}

.shadow {
  position: absolute;
  width: 70%;
  height: 97%;
  box-shadow: inset 0px -69px 60px -42px #444444;
  border-radius: 20px;
  top: 1%;
  left: 15%;
}

.buttonUndertext {
  font-size: 100%;
  font-weight: 400;
  margin: 3% auto 0px auto;
  padding: 0px;
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.navLinks {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.namePreview {
  position: absolute;
  bottom: 8%;
  left: 20%;
  font-size: 180%;
  font-weight: 500;
  color: white;
  text-shadow: 0px 3px 5px rgba(0,0,0,0.5);
  font-family: 'Montserrat', sans-serif;
}

.profileButton .logo {
  margin: 0px;
}

.logo {
  padding: 6% 20%;
  width: 55%;
  height: 55%;
  align-content: center;
}

.btnFooter {
  margin: 0px 4%;
  border-radius: 50%;
  border: none;
	background-color:#f1c500;
}

.btnFooter:hover {
	background-color:orangered;
}

.buttonFooter {
  display: flex;
  margin: 10px;
  width: 100px;
  height: 100px;
 }

 .footer {
  position: block;
  text-align: center;
  align-items: center;
  margin: 3.5% auto 0px auto;
  width: 90%;
  height: 90%;
}

.matchListBox {
  width: 60%;
  margin: 5% auto;
  background-color: white;
  border-radius: 20px;
}

.myMatchesLogo {
  position: absolute;
  top: 17%;
  left: 15.65%;
}

.matchesRow {
  padding: 10px;
}

.match {
  display: block;
  position:relative;
  list-style-type: none;
  align-content: center;
  text-align: center;
  box-sizing: border-box;
  width: 100px;
  margin-top: 2%;
  margin-left: 30px;
  margin-right: 30px;
}

.match img {
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: auto;
  border: 8px solid orangered; 
}

.match h1 {
  margin-top: 7%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 120%;
  color: #148b9d;
}

 